html {
    min-height: 100%;
}

.page-background {
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.page-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 0px 8px rgb(0, 204, 255);
}

.page-subtitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 8px white;
}

.menu-form-title {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-align: center;
}

.menu-test-form-section {
    width: max-content;
    height: 100px;
    border: solid 2px;
    border-radius: 4px;
    background-color: rgb(96, 121, 221);
    border-color: white;
    padding: 4px;
    margin: 5px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: max-content;

    background: linear-gradient(0deg, #0071db, #0034a4);
    border: 4px solid;
    padding: 3px;
    border-color: #0034a4;
    border-radius: 20px;

    text-align: center;

    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
    ;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: max-content;

    background: linear-gradient(0deg, #5186cb, #003bd0);
    border: 4px solid;
    padding: 5px;
    border-color: #003bd0;
    border-radius: 20px;

    text-align: center;

    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
    ;
}

.test-view-form {
    float: left; 
    position: fixed; 
    width: max-content; 
    height: max-content; 
    padding: 5px; 
    border: solid 2px;
    border-radius: 5px;  
    background: linear-gradient(rgba(20, 200, 255, 1), rgba(52, 88, 248, 1)); 
    gap: 5px; 
    
    z-index: 1;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    margin-bottom: 7px;
}

.form-label {
    flex: auto;
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
    color: whitesmoke;
}

.form-input {
    border: none;
    font-size: 22px;
    padding: 2px;
    width: auto;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;

}

.form-input:hover {
    background-color: #5EEAD4;
}

.form-input:focus {
    background-color: #5EEAD4;
    outline: none;
    box-shadow: 0 0 0 3px rgba(106, 255, 0, 0.742);
}

.normal-button {
    display: inline-block;
    background-color: #1E40AF;
    color: white;

    padding: 10px;

    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;

    transition-duration: 3ms;
}

.normal-button:hover {
    transform: translateY(-2px);
    background-color: #3B82F6;
    box-shadow: 0 0 2px 2px #60A5FA
}

.normal-button:active {
    background-color: #60A5FA;
    transform: translateY(2px);
    box-shadow: none;
}

.main-form-button {
    display: inline-block;
    background-color: #0a8360;
    color: white;

    padding: 10px;

    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;

    transition-duration: 3ms;
}

.main-form-button:hover {
    transform: translateY(-2px);
    background-color: #10B981;
    box-shadow: 0 0 2px 2px #34D399
}

.main-form-button:active {
    background-color: #34D399;
    transform: translateY(2px);
    box-shadow: none;
}

.danger-button {
    display: inline-block;
    background-color: #B91C1C;
    color: white;

    padding: 10px;

    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;

    transition-duration: 3ms;
}

.danger-button:hover {
    transform: translateY(-2px);
    background-color: #EF4444;
    box-shadow: 0 0 2px 2px #F87171
}

.danger-button:active {
    background-color: #F87171;
    transform: translateY(2px);
    box-shadow: none;
}

.button-nav-section {
    width: 57%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap: 2px;
    padding: 3px;
}

.question-button {
    height: 30px;
    width: 40px;
    border: solid 2px;
    border-radius: 4px;
}

.question-button:hover {
    filter: brightness(150%);
    transform: translateY(-1px);
    box-shadow: 0px 1px 1px 1px;
}

.question-button:active {
    color: white;
    border-color: white;
    filter: brightness(170%);
    transform: translateY(1px);
    box-shadow: none;
}

.answered-question-button {
    background: linear-gradient(145deg, rgb(133, 255, 178), rgb(106, 255, 73));
}

.current-question-button {
    background: linear-gradient(145deg, rgb(170, 121, 255), rgb(177, 61, 255));
}

.unanswered-question-button {
    background: linear-gradient(145deg, rgb(255, 81, 81), rgb(251, 22, 22));
}

.test-image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    width: 300px;
    height: 300px;
}

.test-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border: solid 1px;
    border-radius: 4px;
}

.question-section {
    display: flex;
    flex-direction: column;
    border-left: solid 3px white;
    padding-left: 5px;
}

.question-text {
    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

.question-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.question-alternatives {
    width: fit-content;
}

.question-alternative {
    border-radius: 50%;
    transition-duration: 0.2s;
    width: fit-content;
    padding: 1px;
}

.question-alternative:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 2px #ffffff;
}

.question-alternative-label {
    font-family: sans-serif, Geneva, Tahoma, Verdana;
    font-size: large;
}

.question-radio {
    cursor: pointer;
}

.result-section {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    align-content: center;
    justify-content: center;

    padding: 10px;
    border-radius: 5px;

    background-color: rgba(94, 193, 255, 1);
    border-color: rgba(72, 101, 232, 1);
    box-shadow: 5px 5px 10px 4px rgba(123, 123, 123, 1);
    border: solid 2px;
}

.answer-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: 0px;
}

.right-answer-color {
    text-shadow: 0px 2px 3px rgb(31, 82, 31);
}

.wrong-answer-color {
    text-shadow: 0px 2px 3px red;
}

.status-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.status-FAILED-text {
    color: red;
}

.status-PASSED-text {
    color: rgb(7, 219, 0);
}

.result-line-separator {
    height: 1px; 
    width: 95%;
    border: none;
    margin: 10px auto;
    background-color: #404040ff;
}

.sheet-paper {
    width: 80%; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 0; 
    transform: translateY(130px);  
    background-color: white; 
    border-radius: 10px; 
    padding: 10px; 
    margin-bottom: 200px; 
}

.sheet-title{
    text-align:center; 
    font-size:40px; 
    margin-top: 10px; 
    margin-bottom: 15px; 
}

.sheet-section {
    display: flex; 
    flex-direction: row;
    margin: 5px; 
    border: solid 2px; 
    border-left: none; 
    border-right: none; 
    border-color: crimson;
}

.sheet-image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.sheet-explanation-section {
    display:flex; 
    flex-direction: column; 
    width: 100%; 
    padding-left: 5px;
}

.sheet-question {
    font-family: 'Arial', sans-serif;
    font-size: 25px;
}

.sheet-explanation {
    color: red; 
    font-family: 'Trebuchet MS', sans-serif;
}

.banner {
    margin-left:auto; 
    margin-right: auto;
    margin-top: 40px; 

    height: max-content;
    width: 30%; 
    
    border: solid 3px;
    border-radius: 5px;
    padding: 10px;

    text-align: center; 
    justify-content: center; 
    align-items: center;
}

.banner-error {
    color: crimson;  
    border-color: crimson;
    background-color: pink;
}

.banner-success {
    color: green;  
    border-color: green;
    background-color: palegreen;
}

.banner-text {
    font-family: 'Arial',sans-serif; 
    font-size: 20px;
}

.timer-box {
  background-color: white;
  border: 2px solid cyan;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  padding: 15px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.timer-title {
  font-size: 1.2em;
  color: #00bcd4;
  margin: 0;
}

.divider {
  border: none;
  border-top: 1px solid cyan;
  margin: 8px 0;
}

.timer-display {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}